@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* flexbox zorgt ervoor dat alle elements automatisch responsive worden */
/* css variables */
:root {
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(224, 100%, 88%);
  --header-color: hsl(206, 20%, 49%);
  --shadow-color: 0 8px 32px hsla(231, 44%, 45%, .2);
  --nav-color: hsl(212, 75%, 14%);
  --body-font: 'Poppins', sans-serif;
  --form-text: hsl(0, 0%, 0%);
}

html, body{min-height:100%;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  background: #0044d8;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00ffdd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2691d9;
  border-radius: 5px;
}

ul {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

li {
  padding-left: 1%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


body {
  background-repeat: no-repeat;
  font-family: var(--body-font);
  background: linear-gradient(0deg, rgba(38,145,217,1) 0%, rgba(45,253,230,1) 100%);
  color: var(--nav-color); 

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 100vh;
}

.container h1{
  padding-top: 2%;
}

.login div div {
  width: 100%;
}

.login {
  box-shadow: var(--shadow-color);
  margin-top: 30px;
  background: white;
  color: var(--form-text);
  border-radius: 2%;
  padding: 10px;
}

.login h1{
  text-align: center;
  padding: 5%;
}

.container form{
  padding: 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  margin: 30px;
}

.txt_field input{
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}


.txt_field span::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #2691d9;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

input[type="submit"]{
  width: 50%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 5px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  
}

#submit:hover{
  border-color: #2691d9;
  transition: .5s;
}

.clock {
  font-size: 2rem;
 
}

.date {
  font-size: 2rem;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.error{
  color: red;
  font-size: 25px;
  font-style: italic;

}
.logout{
  font-size: 20px;
  padding-top: 10px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}



@media only screen and (max-width: 950px) {

  ul {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .login div {
    width: 84%;
    display: flex;
    flex-direction: column;
  }

  /* span {
    width: 50%;
  } */

  .login {
    
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}